apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  labels:
    app: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask-container
          image: flask-k8s-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000

          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /secrets/AccountKey.json

          volumeMounts:
            - name: firebase-secret
              mountPath: /secrets
              readOnly: true

          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes: 
        - name: firebase-secret
          secret:
            secretName: firebase-key
